.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 2px;
  border: 1px solid #a3a3a3;
  padding: 38px;
  &-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    font-size: 20px;
    font-weight: 700;
    img {
      width: 64px;
      height: 64px;
      margin: 0px 14px;
    }
  }
  &-form {
    width: 385px;
    .user {
      &-login {
        border-bottom-width: 0;
        border-radius: 2px 2px 0 0;
        display: block;
        width: 100%;
      }
      &-password {
        border-radius: 0 0 2px 2px;
        display: block;
        width: 100%;
      }
    }
  }
  &-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .remeber-me {
      margin: 14px 0;
    }
  }
}
