.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  margin: 0;
  font: inherit;
  font-weight: 400;
  line-height: normal;
  height: 28px;
  border-radius: 2px;
  padding: 18px 6px;
  border: 1px solid #9a9a9a;
  background: white;
  color: #474747;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: box-shadow 180ms, border 180ms;
  -moz-transition: box-shadow 180ms, border 180ms;
  transition: box-shadow 180ms, border 180ms;
  width: 240px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  &-container {
    display: block;
    position: relative;
    padding: 5px 0;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .checkbox:checked ~ .checkbox-checkmark {
    }
    .checkbox:checked ~ .checkbox-checkmark:after {
      display: block;
    }
  }
  &-checkmark {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border: 1px solid #9a9a9a;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 4px;
      height: 6px;
      border: solid #2196f3;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
