.menu {
  display: flex;
  width: 100%;
  height: 42px;
  background: #242424;
  border: 1px solid #242424;
  color: #bdbdbd;
  justify-content: space-between;
  white-space: nowrap;
  font-size: 14px;
  &-group {
    display: flex;
  }
  &-item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    span {
      font-weight: 500;
    }
    &.hover:hover {
      background: #646464;
    }
    &:hover {
      color: white;
      path {
        fill: white;
      }
    }
  }
}

.content {
  height: calc(100vh - 42px);
}
