.regions {
  &-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    .region-map {
      display: flex;
      flex: 1;
      align-items: center;
    }
    &-footer {
      padding: 14px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
